@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.container {
  position: relative;
  max-width: 1440px;
  width: 100%;
  padding: 40px 103px;
}

@media (max-width: 1340px) {
  .container {
    padding: 50px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 15px;
  }
}

.hidden {
  display: none;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: normal;
  background-color: #008c6b;
  background: url("img/bg.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: cover;
}

.page--bg-card {
  background-color: #008c6b;
  background: url("img/bg-card-2.png"), url("img/bg-card-1.png"), url("img/bg.jpg");
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 40vh, 30vh, cover;
  background-position: 100% 90%, 90% 76%, 0 0;
}

.page__header {
  max-width: 100%;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .page__header {
    margin-bottom: 30px;
  }
}

.page__header h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 1024px) {
  .page__header h1 {
    font-size: 2em;
  }
}

@media (max-width: 767px) {
  .page__header h1 {
    font-size: 1.5em;
  }
}

.page__wrapper{
  position: relative;
  height: 100%;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page__wrapper li {
  color: inherit;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-radius: none;
  background-color: transparent;
  color: inherit;
  outline: none;

  font-size: 2em;
  font-weight: 700;

  cursor: pointer;
}

.btn--red {
  padding: 0.5em 2em;
  line-height: normal;
  background-color: #D62B2E;
  border-radius: 7px;
}

.btn--red:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.btn--red:focus,
.btn--red:hover {
  background-color: #D62B2E;
}

.btn--sq {
  position: relative;
}

.btn--sq::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -20px;
  transform: translateY(-50%) rotate(45deg);
  width: 18px;
  height: 18px;
  background-color: #D62B2E;
}

@media (max-width: 767px) {
  .btn {
    font-size: 1em;
  }
}

.list-level {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 90px;
  padding-left: 30px;
}

@media (max-width: 1024px) {
  .list-level {
    margin-bottom: 60px;
  }
}

.list-level li {
  margin-bottom: 24px;
}

.list-cards {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  grid-column-gap: 24px;
  grid-row-gap: 24px;

  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.list-cards--md {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.list-cards--lg {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 800px;
}
@media (max-width: 600px) {
  .list-cards--lg {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.list-cards__item {
  flex-grow: 0;
  flex-basis: auto;
  min-height: 40vh;
}

@media (max-width: 1023px) {
  .list-cards__item {
    min-height: 35vh;
  }
}

@media (max-width: 600px) {
  .list-cards__item {
    min-height: 23vh;
  }
}

.card {
  position: relative;
  display: block;
  height: 100%;
  min-height: 153px;
  max-height: 340px;
  width: 100%;

  background-image: url("img/card.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card:focus,
.card:hover {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  transform: rotate(-3.08deg) translateY(-10px);
  transition: 0.5s;
}

.card--empty div,
.card--bug div {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/card-end.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card--bug div {
  background-image: url("img/card-bag.png");
}

.card--empty div.active,
.card--bug div.active {
  opacity: 1;
}

.card__pic {
  text-align: center;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
